body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
}

footer li a {
    text-decoration: none;
    color: black;
}

footer li {
    list-style: none;
    color: black;
}

footer p {
    color: black;
}

footer h3 {
    color: black;
}

/* header li :hover {

    transform: translate(0px, -3px);


} */

select{
    width: 250px;    
}

.media-body a h5:hover{
    color: #ED5006;
}
.hero-label button {
    width: 200px;
    height: 50px;
    background-color: #ED5006;
    color: #f5f5f5;
    border: #ED5006;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: auto;

}

.hero-label button:hover {
    color: #ED5006;
    background-color: #f5f5f5;
    scale: 1.02;

}

.hero-label {
    color: #ffffff;
    margin-left: 1.5rem;
    margin-top: 7rem;
    position: absolute;

}

.hero-label h1 {

    font-family: 'Poppins', sans-serif;

}

.social-icon h5 {
    margin-top: 10rem;
}

.social-icon a i {
    margin-top: 1rem;
    font-size: 40px;

}

.social-icon a i:hover {
    scale: 1.2;
    /* font-size: 50px; */

}
.no-resize{
    resize: none;
}
.pointer-cursor{
    cursor: pointer;
}

.jumbo-right h6 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.jumbo-up h2 {

    font-family: 'Poppins', sans-serif;
}

.jumbo-up p {
    font-family: 'Poppins', sans-serif;
}

.card-aboutus h5 {
    font-family: 'Poppins', sans-serif;
}

.card-aboutus p {
    font-family: 'Poppins', sans-serif;
}

.card-login {
    background-color: #E1D9CD !important;
}

.card-login button {
    color: #f5f5f5;
    background-color: #ED5006 !important;
    width: 200px;
    height: 50px;
    border: #ED5006;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
}

.card-login label {
    font-family: 'Poppins', sans-serif;
}

.overlaytext {
    margin-left: 7rem;
    margin-top: 9rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
}

.card-register {
    background-color: #E1D9CD !important;
}


.card-register button {
    color: #f5f5f5;
    background-color: #ED5006 !important;
    width: 200px;
    height: 50px;
    border: #ED5006;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
}

.card-register button {
    color: #f5f5f5;
    background-color: #ED5006 !important;
    width: 150px;
    height: 50px;
    border: #ED5006;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: auto;
}

.overlaytext-register {
    margin-left: 10rem;
    margin-top: 11rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
}

.profile-label {
    font-family: 'Poppins', sans-serif;
}

.profile-label h6{
   color: #ED5006;
}

/* .overlaytextsaldo{
    position: absolute;
    margin-top: 15rem;
    margin-left: 10rem;
    font-family: 'Poppins', sans-serif;
}

.button-topup{
    margin-top: 17rem;
    margin-left: 13rem;
} */
/* untuk kebutuhan color dari palette */

.c-10 {
    color: #ED5006;
}

.c-30 {
    color: #E1D9CD;
}

.c-60 {
    color: #f5f5f5;
}



/* untuk kebutuhan background dari palette */



.bg-10 {
    background-color: #ED5006;

}

.bg-30 {

    background-color: #E1D9CD;
}

.bg-60 {

    background-color: #f5f5f5;

}